.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 140px 24px;
    width: 18rem
}

.team {
    text-align: center;
    width: 100%;
    padding: 0px;
}