.logout {
    margin-right: 70px;
}

body {
    margin: 0px;
    padding: 0px;
}

.content {
    /* margin: 4px 94px; */
    font-size: 20px;
}

.nav-item {
    margin: 4px 10px;
}

.navbar-brand {
    margin: 4px 77px;
    font-size: 30px;
    font-weight: bolder;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_color {
    background-color: #fff296;
}

.f_color {
    color: red;
    font-weight: bold;
}