.fr {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 150px;
    background-color: #d6e0e4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: red;
    text-shadow: 2px 2px yellow;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

.tx {
    font-size: 30px;
}

textarea {
    margin: 6px 30px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.botton {
    margin: 20px;
}

.sub {
    display: block !important;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}