footer {
    display: block;
    text-align: center;
    color: #ddd;
    font-weight: normal;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
}

footer a,
footer a:link {
    color: #fff;
    text-decoration: none;
}