.menu {
    display: flex;
    height: 500px;
    width: 100%;
}

.food {
    width: 60%;
}

.nutr {
    width: 40%;
}

.blue {
    background-color: lightblue;
}

.size {
    margin: 1px -5px;
    padding: 5px;
    text-align: center;
}

.sizef {
    margin: 1px -9px 1px -8px;
    padding: 5px;
    text-align: center;
}

.food h2 {
    margin: 45px 73px 14px 322px;
    font-size: 28px;
    font-weight: bolder;
}

.nutr h2 {
    margin: 45px 73px 14px 200px;
    font-size: 28px;
    font-weight: bolder;
}

.bor {
    border: 2px solid black;
    border-radius: 10px;
}

.attend {
    text-align: center;
}

.tab th,
td {
    padding: 16px 95px;
}

.hd {
    font-size: 21px;
}